.d-video {
	width: 60%;
	margin: auto;
	position: relative;
	overflow: hidden
}

.video_ {
	width: 100%;
	border: 2px solid #A1B5BA;
}

.controls {
	background-color: #A1B5BA;
	padding: 10px;
	margin-top: -10px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.rect {
	transition: all 1s;
	animation: mymove .5s;
}

@keyframes mymove {
	from {
		transform: scale(1);
		background-color: rgba(255,255,255,.4);
	}
	to {
		transform: scale(16);
		background-color: rgba(255,255,255,0);
	}
}

.buttons {
	margin: 10px;
}

.progress-bar {
	height: 7px;
	width: 95%;
	background-color: lightgrey;
	top: 0;
	left: 0;
	margin-left: 2.5%;
	border-radius: 100px;
	cursor: pointer
}

.progress {
	height: 15px;
	width: 0px;
	border-radius: 100px;
	background-color: grey;
	transition: all .1s
}
