.d-video {
	width: 100%;
	max-width: 800px;
	position: relative;
	overflow: hidden
}

.controls {

}

.progress-bar {
	height: 7px;
	width: 95%;
	top: 0;
	left: 0;
	margin-left: 2.5%;
	border-radius: 100px;
	background-color: rgba(0,0,0,.6);
	cursor: pointer
}

.progress {
	height: 7px;
	border-radius: 100px;
	background-color: #fff;
	transition: all .3s
}

.progress-bar:hover .progress {
	height: 10px;
	transform: translateY(-1.5px)
}