.d-video {
	width: 60%;
	margin: auto;
	position: relative;
	overflow: hidden
}

.video_ {
	width: 100%;
}

.controls {

}

.buttons {
	margin: 10px;
}

.progress-bar {
	height: 7px;
	width: 95%;
	background-color: lightgrey;
	top: 0;
	left: 0;
	margin-left: 2.5%;
	border-radius: 100px;
	cursor: pointer
}

.progress {
	height: 15px;
	width: 0px;
	border-radius: 100px;
	background-color: grey;
	transition: all .1s
}
